{% load staticfiles %}
<!doctype html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie8less {{not_is_authenticated}}not-{{not_is_authenticated}}authenticated"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9 {{not_is_authenticated}}not-{{not_is_authenticated}}authenticated"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js {{not_is_authenticated}}not-{{not_is_authenticated}}authenticated">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>To-do!</title>
        <meta name="description" content="">
        <meta name="author" content="Rosa Durante">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

        <link rel="stylesheet/less" href="{{ STATIC_URL }}styles.less" media="all">
        <script src="{{ STATIC_URL }}libs/js/less-1.4.1.min.js"></script>

    </head>
    <body {% block extra_body_class %}{% endblock %}>
        {% include "header.inc.html" %}

        <section class="main">
            <nav class="actions">
                {% include "nav.inc.html" %}
            </nav>

            {% block main-container %}
            
            {% endblock %}
        </section>

        {% include "footer.inc.html" %}

        <!-- Loading JS at the end of the page -->
        <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}libs/js/require.min.js" charset="utf-8"></script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
