<ul>
	<li class="default">
		<div class="button add">
			<a href="#add">Add new task</a>
		</div>
	</li>

	<li class="form">
		<form name="create_task" action="">
			<div class="field">
				<span><b>Title: </b></span>
				<input type="text" name="title" />
			</div>
			<div class="button save">
				<input type="submit" name="save_task" value="Save changes" />
			</div>
			<div class="button cancel">
				<a href="#cancel">Cancel</a>
			</div>
		</form>
	</li>

	<li class="item_selected">
		<div class="button edit">
			<a href="#edit">Edit tasks</a>
		</div>
		<div class="button remove">
			<a href="#remove">Remove tasks</a>
		</div>
		<div class="button status">
			<a href="#editstatus">Change status</a>
		</div>
	</li>

	<li class="action_required">
		<div class="button save">
			<input type="submit" name="save_task" value="Save changes" />
		</div>
		<div class="button cancel">
			<a href="#cancel">Cancel</a>
		</div>
	</li>
</ul>
